.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  padding: 20px;
  /* background-color: var(--grid-background-hex); */
}

.card {
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s;
  max-height: 20em;
  min-height: 20em;
  background-color: var(--grid-background-hex);
}

.card:hover {
  transform: scale(1.05);
}

